html {
	background: #333333;
}

h1 {
	color: rgba(225, 225, 225, 0.7);
	text-align: center;
}

.grid {
	width: 777px;
	display: flex;
	flex-flow: wrap;
	margin: 30px auto;
}

.box {
	width: 25px;
	height: 25px;
	background: rgba(0, 0, 0, .1);
	margin: 3px;
	transition: all 0.2s;
	cursor: pointer;
}

.On {
	background: chartreuse;
}

.box:hover {
	background: white;
}
