html {
	background: #999;
}

.grid {
	width: 777px;
	display: flex;
	flex-flow: wrap;
	margin: 200px auto;
}

.box {
	width: 25px;
	height: 25px;
	background: rgba(0, 0, 0, .1);
	margin: 3px;
	transition: all 0.2s;
	cursor: pointer;
}

.On {
	background: chartreuse;
}

.box:hover {
	background: white;
}
